{
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "no-console": "off",
    "no-await-in-loop": "off",
    "no-param-reassign": "off"
  }
}